.layout {
  width: 100%;

  display: grid;
  grid-template-areas:
    "navInfo body";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr;
  gap: 2px;
  border: 2px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  /*background-color: rgb(30, 216, 223);*/
  height: 70vh;
}

.body {
    overflow-y: scroll;
}

.header { 
    text-align: center;
    padding: 5px;
}

.footer {
    padding: 5px;
}

.navInfo { 
    grid-area: navInfo;
    word-wrap: break-word;
    border: 2px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
 }
.body { 
    grid-area: body; 
    background-color: white;
}

.layout div {
  background-color: white;
  padding: 10px;
}

.button {
    float: right;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 10px;
    
}

.upload {
    height: 20px;
    width: 20px;
    align-self: center;
}

.filter {
    height: 20px;
    width: 20px;
    align-self: center;
}

.sort {
    height: 20px;
    width: 20px;
    align-self: center;
}

.reload {
  height: 20px;
  width: 20px;
  align-self: center;
}

.dropdown {
  float: right;
}

.dropdown-content {
  background-color: rgb(185, 30, 30);
  min-width: 160px;
  text-align: right;
}

.modal {
  height: 50vh;
  width: 50vw;
  background-color: aqua;
}

.content {
  text-align: center;
}

.previewImg {
  height: 40vh;
  width: 40vw;
}

.exit, .share {
  height: 20px;
  width: 20px;
  align-self: center;
}

.logs {
  height: 15vh;
  overflow-y: auto;
  background: #f7f7f7;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: monospace;
  font-size: 12px;
}